description = "领导班子人物"

[viewBag]
==
<div id="rightcon">
        <div class="article_list_con article_list_con-type2">
            <div class="article_list_title"><span>领导班子</span></div>
            <div class="article_list_con_body type3" >
                <div class="article_con">

                    <div class="lingdao_con">
                        <table width="626" border="0" cellspacing="0" cellpadding="0" class="lingdao_item">
                            <tr>
                                
                                <td width="462" rowspan="4" valign="top" style="color:#333">
                                    <p>
                                        <span style="font-weight:bold">姓名</span>：林敬欣
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">职务</span>：所长、党总支书记
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">领导分工</span>
                                        ：主持全面工作。
                                    </p>
                                </td>
                            </tr>

                        </table>
                    </div>

                    <div class="lingdao_con">
                        <table width="626" border="0" cellspacing="0" cellpadding="0" class="lingdao_item">
                            <tr>
                                
                                <td width="462" rowspan="4" valign="top" style="color:#333">
                                    <p>
                                        <span style="font-weight:bold">姓名</span>：骆丁伟
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">职务</span>：副所长
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">领导分工</span>
                                        ：分管医疗机构与放射卫生监督科、基层卫生监督二科、小金口分所；分管医疗机构规范化管理工作；联系惠东县卫生监督所。
                                    </p>
                                </td>
                            </tr>

                        </table>
                    </div>

                    <div class="lingdao_con">
                        <table width="626" border="0" cellspacing="0" cellpadding="0" class="lingdao_item">
                            <tr>
                                
                                <td width="462" rowspan="4" valign="top" style="color:#333">
                                    <p>
                                        <span style="font-weight:bold">姓名</span>：邱玉群
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">职务</span>：副所长
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">领导分工</span>
                                        ：分管法制稽查科、学校与传染病防治监督科、水口分所；分管计划生育、妇委会、应急工作、业务信访投诉；联系博罗县卫生监督所。
                                    </p>
                                </td>
                            </tr>

                        </table>
                    </div>

                    <div class="lingdao_con">
                        <table width="626" border="0" cellspacing="0" cellpadding="0" class="lingdao_item">
                            <tr>
                                
                                <td width="462" rowspan="4" valign="top" style="color:#333">
                                    <p>
                                        <span style="font-weight:bold">姓名</span>：林运彪
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">职务</span>：副所长
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">领导分工</span>
                                        ：分管办公室、仲恺分所；分管纪检、安全生产、信访维稳；联系龙门县卫生监督所。
                                    </p>
                                </td>
                            </tr>

                        </table>
                    </div>

                    <div class="lingdao_con">
                        <table width="626" border="0" cellspacing="0" cellpadding="0" class="lingdao_item">
                            <tr>
                                
                                <td width="462" rowspan="4" valign="top" style="color:#333">
                                    <p>
                                        <span style="font-weight:bold">姓名</span>：任  迪
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">职务</span>：副所长
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">领导分工</span>
                                        ：分管公共卫生监督科、基层卫生监督一科、大亚湾分所；分管共青团；联系惠阳区卫生监督所。
                                    </p>
                                </td>
                            </tr>

                        </table>
                    </div>

                    <div class="lingdao_con">
                        <table width="626" border="0" cellspacing="0" cellpadding="0" class="lingdao_item">
                            <tr>
                                
                                <td width="462" rowspan="4" valign="top" style="color:#333">
                                    <p>
                                        <span style="font-weight:bold">姓名</span>：陈辉
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">职务</span>：副调研员
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">领导分工</span>
                                        ：分管财务科；分管党务工作。
                                    </p>
                                </td>
                            </tr>

                        </table>
                    </div>

                    <div class="lingdao_con">
                        <table width="626" border="0" cellspacing="0" cellpadding="0" class="lingdao_item">
                            <tr>
                                
                                <td width="462" rowspan="4" valign="top" style="color:#333">
                                    <p>
                                        <span style="font-weight:bold">姓名</span>：王钢
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">职务</span>：正科级干部
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">领导分工</span>
                                        ：分管快速检测实验室；分管扶贫工作。
                                    </p>
                                </td>
                            </tr>

                        </table>
                    </div>

                    <div class="lingdao_con">
                        <table width="626" border="0" cellspacing="0" cellpadding="0" class="lingdao_item">
                            <tr>
                                
                                <td width="462" rowspan="4" valign="top" style="color:#333">
                                    <p>
                                        <span style="font-weight:bold">姓名</span>：刘海彪  
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">职务</span>：主任科员
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">领导分工</span>
                                        ：协管办公室
                                    </p>
                                </td>
                            </tr>

                        </table>
                    </div>

                    <div class="lingdao_con">
                        <table width="626" border="0" cellspacing="0" cellpadding="0" class="lingdao_item">
                            <tr>
                                
                                <td width="462" rowspan="4" valign="top" style="color:#333">
                                    <p>
                                        <span style="font-weight:bold">姓名</span>：刘劲芳
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">职务</span>：主任科员、工会主席
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">领导分工</span>
                                        ：负责工会、文明单位创建工作；分管餐饮具集中消毒单位监管工作；协管学校与传染病防治监督科。
                                    </p>
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="lingdao_con">
                        <table width="626" border="0" cellspacing="0" cellpadding="0" class="lingdao_item">
                            <tr>
                                
                                <td width="462" rowspan="4" valign="top" style="color:#333">
                                    <p>
                                        <span style="font-weight:bold">姓名</span>：练添贵
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">职务</span>：主任科员
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">领导分工</span>
                                        ：分管卫生监督协管和全所业务培训工作；协管法制稽查科工作。
                                    </p>
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="lingdao_con">
                        <table width="626" border="0" cellspacing="0" cellpadding="0" class="lingdao_item">
                            <tr>

                                <td width="462" rowspan="4" valign="top" style="color:#333">
                                    <p>
                                        <span style="font-weight:bold">姓名</span>：黄兆鹏
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">职务</span>：主任科员
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">领导分工</span>
                                        ：分管血液卫生和医疗业务培训工作；协管医疗机构与放射卫生监督科。
                                    </p>
                                </td>
                            </tr>

                        </table>
                    </div>

                    <div class="lingdao_con">
                        <table width="626" border="0" cellspacing="0" cellpadding="0" class="lingdao_item">
                            <tr>

                                <td width="462" rowspan="4" valign="top" style="color:#333">
                                    <p>
                                        <span style="font-weight:bold">姓名</span>：黄河清
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">职务</span>：主任科员
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">领导分工</span>
                                        ：分管12320卫生热线、涉水产品监管工作，协管公共卫生监督科。
                                    </p>
                                </td>
                            </tr>

                        </table>
                    </div>

                    <div class="lingdao_con">
                        <table width="626" border="0" cellspacing="0" cellpadding="0" class="lingdao_item">
                            <tr>

                                <td width="462" rowspan="4" valign="top" style="color:#333">
                                    <p>
                                        <span style="font-weight:bold">姓名</span>：张河琳
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">职务</span>：主任科员
                                    </p>
                                    <p>
                                        <span style="font-weight:bold">领导分工</span>
                                        ：分管受理发证科工作。
                                    </p>
                                </td>
                            </tr>

                        </table>
                    </div>

                </div>
            </div>
            <div class="article_list_con_bot"></div>


        </div>

    </div>










<div class="clear">&nbsp;</div>