[viewBag]
==
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="logo">
                <a href="{{ 'index'|staticPage }}">
                    <img src="{{ 'assets/images/logo.png'|theme }}" alt="House of Chairs" />
                </a>
            </div>
        </div>
      <div style="margin-top:78px;float:right ">
      <form action="{{ '/search' | app }}" method="get" style="right:200px">
           <input name="q" type="text" placeholder="输入关键字" autocomplete="off" style="width:180px;height:27px;">
           <button class="icon-search" type="submit" style="background:#F8FBEF;width:28px;height:27px"></button>
      </form>
      </div>
    </div>
   
</div>