description = "最左边框"

[viewBag]

[filelist]
id = 1
==
<div id="l_container2">


        <div id="contact_container">
            <a id="liuyan" href="#"></a>
            <a id="xinxiang" href="#"></a>
            <a id="diaocha" href="/notice/msgCollect"></a>
            <a id="jubaodianhua" href="#"></a>
        </div>


        <div class="column column4">
            <div class="column_title">
                <div class="columntil_l"><span>惠州卫生监督信息</span></div>
                <div class="columntil_r"><a class="more_link" href="/jiandu"></a>
                </div>
            </div>
            <div class="column_body" style="overflow:hidden;">
                <!--                                                                                  -->

                    {% component 'filelist' %}

                
            </div>
            <div class="column_bottom">
                <a href="/images_value" alt="图说我们的价值观"> <img src="../themes/rainlab-relax/assets/images/tushuo/small.png" style="width:220px;height:80px;border-radius: 0 0 5px 5px"></a>
                
            </div>
        </div>

    </div>