description = "右边框"

[viewBag]
==
<div id="l_container4">
        <div class="column column7">
            <div class="column_title">
                <div class="columntil_l"><span>公示</span></div>
                <div class="columntil_r"><a class="more_link" href="/notice/public"></a></div>
            </div>
            <div class="column_body">
                
                    <ul>
                        
                            <li>
                                <a href="article/1009/" title="2016年5月发证情况">2016年5月发证情况</a>
                            </li>
                        
                            <li>
                                <a href="article/990/" title="2016年4月发证情况">2016年4月发证情况</a>
                            </li>
                        
                            <li>
                                <a href="article/989/" title="2016年3月发证情况">2016年3月发证情况</a>
                            </li>
                        
                            <li>
                                <a href="article/986/" title="2016年2月发证情况">2016年2月发证情况</a>
                            </li>
                        
                      
                       
                        
                    </ul>
                
                
            </div>
            <div class="column_bottom_2">
                <div class="column_bot_l">&nbsp;</div>
                <div class="column_bot_r">&nbsp;</div>
            </div>
        </div>


        <div class="column column8">
            <div class="column_title">
                <div class="columntil_l"><span>曝光台</span></div>
                <div class="columntil_r"><a class="more_link" href="/notice/lighthouse"></a></div>
            </div>
            <div class="column_body">
                
                    <ul>
                        
                            <li>
                                <a href="article/988/" title="2016年第一季度卫生行政处罚公告">
                                    2016年第一季度卫生行政处罚...
                                </a>
                                <span>2016-05-13</span>
                            </li>
                        
                            <li>
                                <a href="article/984/" title="2015年第四季度卫生行政处罚公告">
                                    2015年第四季度卫生行政处罚...
                                </a>
                                <span>2016-02-04</span>
                            </li>
                        
                            <li>
                                <a href="article/950/" title="2015年第三季度卫生行政处罚公告">
                                    2015年第三季度卫生行政处罚...
                                </a>
                                <span>2015-10-21</span>
                            </li>
                        
                            <li>
                                <a href="article/918/" title="2015年第二季度卫生行政处罚公告">
                                    2015年第二季度卫生行政处罚...
                                </a>
                                <span>2015-07-28</span>
                            </li>
                        
                            <li>
                                <a href="article/851/" title="2015年第一季度卫生行政处罚公告">
                                    2015年第一季度卫生行政处罚...
                                </a>
                                <span>2015-05-11</span>
                            </li>
                        
                            <li>
                                <a href="article/815/" title="2014年第四季度卫生行政处罚公告">
                                    2014年第四季度卫生行政处罚...
                                </a>
                                <span>2015-03-04</span>
                            </li>
                        
                            <li>
                                <a href="article/801/" title="惠州市卫生和计划生育局2014年度医疗机构不良执业行为记分结果公告">
                                    惠州市卫生和计划生育局2014...
                                </a>
                                <span>2014-12-26</span>
                            </li>
                        
                    </ul>
                
                
            </div>
            <div class="column_bottom">
                <div class="column_bot_l">&nbsp;</div>
                <div class="column_bot_r">&nbsp;</div>
            </div>
        </div>

    </div>

    <div class="clear">&nbsp;</div>