description = "卫生局导航栏模块"

[viewBag]
==
<div id="main_nav">
    <dl style="left:0;">
        <dt><a href="/organization">组织机构</a></dt>
        <dd><a href="/organization/condition">机构概况</a></dd>
        <dd><a href="/organization/leadclass">领导班子</a></dd>
        <dd><a href="/organization/inter_organ">内设科室</a></dd>
        <dd><a href="/organization/contact">联系方式</a></dd>
    </dl>
    <dl style="left:156px;">
        <dt><a href="/work/dynamic">工作动态</a></dt>
    </dl>
    <dl style="left:312px;">
        <dt><a href="/notice">通告公示</a></dt>
        <dd><a href="/notice/public">公示</a></dd>
        <dd><a href="/notice/lighthouse">曝光台</a></dd>
    </dl>
    <dl style="left:468px;">
        <dt><a href="/gov_window">党建之窗</a></dt>
        <dd><a href="/gov_window/gov_organ">党组织机构</a></dd>
        <dd><a href="/gov_window/gov_work">党工作动态</a></dd>
    </dl>
    <dl style="left:624px;">
        <dt ><a href="http://xxgk.huizhou.gov.cn/publicfiles/business/htmlfiles/zwgk/list_index.html?siteid=139&sitecode=0335">政府信息公开</a></dt>


    </dl>
    <dl style="left:782px;">
        <dt style="background-image:none;"><a href="http://wsbs.huizhou.gov.cn/portal/home.seam">办事指南</a></dt>
    </dl>

</div>