description = "页面找不到"

[staticMenu]

[staticPage]
==
<html>
 <head>
  <title>404 Not Found</title>
<link href="{{ [
       'assets/404css/style.css',
       'assets/404css/base.css'
  ]|theme }}" rel="stylesheet" />
 </head>
 <body>
  <div id="errorpage">
    <div class="tfans_error">
        <div class="logo"></div>
        <div class="errortans clearfix">
        	 <div class="e404"></div>
            <p><b>出错啦！</b></p>
            <p>您访问的页面不存在</p>
            <div class="bt" ><a href="/">返回首页</a></div>
        </div>
    </div>
</div>
 </body>
</html>