description = "卫生局主页"

[staticMenu]

[staticPage]
==
<!DOCTYPE html>
<html>
<head>
    {% partial 'hz_meta'%}
</head>
<body>

<div id="main_con">
        
        {% partial 'hz_header' %}
         
        {% partial 'hz_nav' %}
         
        {% partial 'hz_slide_search' %}
        
        {% partial 'hz_container2' %}
        
        {% partial 'hz_container3' %}
        
        {% partial 'hz_container4_1' %}
        
        {% partial 'hz_container4_2' %}
        
        {% partial 'hz_otherlink' %}
      
        {% partial 'hz_footer' %}
     
</div>

           
        {% partial 'hz_scripts' %}

</body>
</html>