description = "党工作内容"

[staticMenu]

[staticPage]
==
<!DOCTYPE html>
<html>
<head>
    {% partial 'hz_meta_organ'%}
</head>
<body>

<div id="main_con">
        
        {% partial 'hz_header_organ' %}
         
        {% partial 'hz_nav' %}
         
        
        {% partial 'gov_window/gov_work' %}
        
        {% partial 'gov_window/gov_left' %}
        
        {% partial 'gov_window/work_content' %}
        
        {% partial 'hz_footer' %}
     
</div>

           
        {% partial 'hz_scripts' %}

</body>
</html>