description = "医疗机构"

[staticMenu]

[staticPage]
==
<!DOCTYPE html>
<html>
<head>
    {% partial 'hz_meta_organ' %}
</head>
<body>

<div id="main_con">
        
        {% partial 'hz_header' %}
         
        {% partial 'hz_nav' %}
         
        {% partial 'download/hospital' %}
         
        {% partial 'download/jianduleft' %}
        
        {% partial 'download/hospital_content' %}
      
        {% partial 'hz_footer' %}
     
</div>

           
        {% partial 'hz_scripts' %}

</body>
</html>