description = "通告公告"

[staticMenu]

[staticPage]
==
<!DOCTYPE html>
<html>
<head>
    {% partial 'hz_meta_organ'%}
</head>
<body>

<div id="main_con">
        
        {% partial 'hz_header_organ' %}
         
        {% partial 'hz_nav' %}
         
        {% partial 'notice/tgFirst' %}
        
        {% partial 'notice/tonggao' %}
        
        {% partial 'notice/tggs_1' %}
        
        {% partial 'notice/tggs_2' %}
        
        {% partial 'notice/tggs_3' %}
        
        {% partial 'hz_footer' %}
     
</div>

           
        {% partial 'hz_scripts' %}

</body>
</html>