description = "组织机构-机构概况"

[staticMenu]

[staticPage]
==
<!DOCTYPE html>
<html>
<head>
    {% partial 'hz_meta_organ'%}
</head>
<body>

<div id="main_con">
        
        {% partial 'hz_header_organ' %}
         
        {% partial 'hz_nav' %}
         
        
        {% partial 'organ_condition/condition' %}
        
        {% partial 'hz_leftbar_organ' %}
        
        {% partial 'organ_condition/condition_desc' %}
        
        {% partial 'hz_footer' %}
     
</div>

           
        {% partial 'hz_scripts' %}

</body>
</html>