description = "组织机构-联系方式"

[staticPage]

[staticMenu]
==
<!DOCTYPE html>
<html>
<head>
    {% partial 'hz_meta_organ'%}
</head>
<body>

<div id="main_con">
        
        {% partial 'hz_header_organ' %}
         
        {% partial 'hz_nav' %}
         
        
        {% partial 'organ_contact/contact' %}
        
        {% partial 'hz_leftbar_organ' %}
        
        {% partial 'organ_contact/contact_way' %}
        
        {% partial 'hz_footer' %}
     
</div>

           
        {% partial 'hz_scripts' %}

</body>
</html>