description = "图说模板"

[carousel]
id = 2
==
<!DOCTYPE html>
<html>
<head>
    {% partial 'hz_meta'%}
</head>
<body>

<div id="main_con">
        
        {% partial 'hz_header_organ' %}
         
        {% partial 'hz_nav' %}
        
      {#  <div>
        <div style="background:url(../themes/rainlab-relax/assets/images/tushuo/banner_img.png);no-repeat;height:330px;overflow:hidden;display:block;width:100%;"></div>
        </div>#}
        <h3>图说我们的价值观</h3>
        <div>
            {% component 'carousel' %}
         </div>
 <div id="footer" style="margin-top:30px;margin-bottom:0;">
    <div id="fline1">地址：广东省惠州市惠城区江北富民路10号惠州卫生大楼 邮编：516003 备案证编号：粤ICP备00000000 主办及维护单位：惠州市卫生监督所 </div>
    <div id="fline2">© 2012 wsjds.huizhou.gov.cn All Rights Reserved 技术支持及意见：<span class=""><a href="mailto:support@everants.com?Subject=Comments%20On%20WSJDS%20Huizhou" style="color:#00DAFF;">support@everants.com</a>  </span> </div>
</div> 
</div>
        {% partial 'hz_scripts' %}
</body>
</html>