[filelist]
id = 5

[viewBag]
==
<div id="rightcon">
        <div class="article_list_con">
            <div class="article_list_title">
                <span>
                    
                        放射诊疗
                    
                </span>
            </div>
            <div class="article_list_con_body">
                <ul>  
                        <li>
                            {% component 'filelist' %}
                        </li>
                </ul>
            </div>
        </div>

    </div>

<div class="clear">&nbsp;</div>