[viewBag]

[filelist]
id = 2
==
<div id="rightcon">
        <div class="article_list_con">
            <div class="article_list_title">
                <span>
                    
                        公共场所
                    
                </span>
            </div>
            <div class="article_list_con_body">
            <ul>
              <li> 
                  {% component 'filelist' %}
              </li>
            </ul>
            </div>
            <div class="article_list_con_bot"></div>
        </div>

    </div>






<div class="clear">&nbsp;</div>