description = "联系方式"

[viewBag]
==
<div id="rightcon">
        <div class="article_list_con article_list_con-type2">
            <div class="article_list_title"><span>联系方式</span></div>
            <div class="article_list_con_body type3">
                <div class="article_con">
                    <div class="keshi_con">
                        <table width="642" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="220" rowspan="3" valign="top">
                                    <p><span style="font-weight:bold">名称</span>：惠州市卫生监督所</p>
                                    <p><span style="font-weight:bold">电话</span>：2833122</p>
                                    <p><span style="font-weight:bold">传真</span>：2833121</p>
                                    <p><span ><span style="font-weight:bold"> 地址</span>：惠州市惠城区江北富民路10号惠州卫生大楼7-9楼 </span>     
                                    </p>
                                    <p><span style="font-weight:bold">工作时间</span>：周一至周五 上午8:30至12:00，下午14:30至18:00(节假日除外)</p>
                                </td>

                            </tr>
                        </table>
                    </div>


                    <div id='ditu1' class='keshi_con1'>

                    </div>

                    <div class="keshi_con">
                        <table width="642" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="220" rowspan="3" valign="top">
                                    <p><span style="font-weight:bold">名称</span>：惠州市卫生监督所受理与发证窗口</p>
                                    <p><span style="font-weight:bold">电话</span>：2898731</p>

                                    <p><span ><span style="font-weight:bold"> 地址</span>：
                                        惠州市惠城区江北文华一路2号大隆中心广场惠州市行政服务中心二楼</span></p>
                                    <p><span style="font-weight:bold">工作时间</span>：周一至周五 上午8:30至12:00，下午14:30至18:00(节假日除外)</p>
                                </td>

                            </tr>

                        </table>
                    </div>

                    <div id='ditu2' class='keshi_con1'>

                    </div>

                    <div class="keshi_con">
                        <table width="642" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="220" rowspan="3" valign="top">
                                    <p><span style="font-weight:bold">名称</span>：惠州市卫生监督所仲恺分所</p>
                                    <p><span style="font-weight:bold">电话</span>：3228199</p>

                                    <p><span ><span style="font-weight:bold"> 地址</span>：惠州市仲恺高新区陈江街道办事处五一大道日通达工业区行政执法大楼6楼</span></p>
                                    <p><span style="font-weight:bold">工作时间</span>：周一至周五 上午8:30至12:00，下午14:30至18:00(节假日除外)</p>
                                </td>

                            </tr>

                        </table>
                    </div>

                    <div id='ditu3' class='keshi_con1'>

                    </div>

                    <div class="keshi_con">
                        <table width="642" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="220" rowspan="3" valign="top">
                                    <p><span style="font-weight:bold">名称</span>：惠州市卫生监督所水口分所</p>
                                    <p><span style="font-weight:bold">电话</span>：2323800</p>

                                    <p><span ><span style="font-weight:bold"> 地址</span>：惠州市惠城区水口街道办事处惠泽大道江南御都4栋1楼5号</span></p>
                                    <p><span style="font-weight:bold">工作时间</span>：周一至周五 上午8:30至12:00，下午14:30至18:00(节假日除外)</p>
                                </td>

                            </tr>

                        </table>
                    </div>

                    <div id='ditu4' class='keshi_con1'>

                    </div>

                    <div class="keshi_con">
                        <table width="642" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="220" rowspan="3" valign="top">
                                    <p><span style="font-weight:bold">名称</span>：惠州市卫生监督所小金口分所</p>
                                    <p><span style="font-weight:bold">电话</span>：2299108</p>

                                    <p><span ><span style="font-weight:bold"> 地址</span>：惠州市惠城区小金口办事处金府路6号2楼</span></p>
                                    <p><span style="font-weight:bold">工作时间</span>：周一至周五 上午8:30至12:00，下午14:30至18:00(节假日除外)</p>
                                </td>

                            </tr>

                        </table>
                    </div>

                    <div id='ditu5' class='keshi_con1'>

                    </div>

                    <div class="keshi_con">
                        <table width="642" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="220" rowspan="3" valign="top">
                                    <p><span style="font-weight:bold">名称</span>：惠州市卫生监督所大亚湾分所</p>
                                    <p><span style="font-weight:bold">电话</span>：5562170</p>

                                    <p><span ><span style="font-weight:bold"> 地址</span>：惠州市大亚湾经济技术开发区澳头街道办事处体育中心一区1楼</span></p>
                                    <p><span style="font-weight:bold">工作时间</span>：周一至周五 上午8:30至12:00，下午14:30至18:00(节假日除外)</p>
                                </td>

                            </tr>

                        </table>
                    </div>

                    <div id='ditu6' class='keshi_con1'>

                    </div>

                </div>
            </div>
            <div class="article_list_con_bot"></div>
        </div>
    </div>
<div class="clear">&nbsp;</div>