description = "机构简介"

[viewBag]
==
<div id="rightcon">
        <div class="article_list_con article_list_con-type2">
            <div class="article_list_title"><span>机构概况</span></div>
            <div class="article_list_con_body type3">
                <div class="article_con">
               
                    <div >
                        <span style="font-weight:bold">简介：</span><br />

                        <p>
                            惠州市卫生监督所是卫生行政部门的卫生综合执法执行机构，设办公室、财务科、法制稽查科、受理发证科、公共卫生监督科、医疗机构与放射卫生监督科、学校与传染病防治监督科、基层卫生监督一科和基层卫生监督二科等9个科室，并设有水口、小金口、仲恺、大亚湾四个卫生监督分所，形成一个覆盖惠城区、仲恺高新区、大亚湾开发区的卫生监管网络。
                        </p>
                        <br/>
                        <p>
                            “热情、廉洁、公正、高效”是卫生监督所的服务宗旨。
                        </p>



                    </div>
                    <p>&nbsp;</p><hr/>

                    <div >
                        <span style="display: block; font-weight:bold; margin-bottom: 0px;">惠州市卫生监督所主要职责：</span><br />


                        <p>（一）承担市卫生局卫生监督执法具体工作。依照法律、法规、规章和职责分工，承担公共场所卫生、饮用水卫生、学校卫生、职业卫生、放射卫生、医疗卫生机构、采供血机构、传染病防治等领域的监督检查工作，查处违法行为。</p>

                        <p>（二）协助市卫生局拟订并组织实施全市卫生监督计划，对县（区）卫生监督机构进行业务指导及监督检查；负责全市卫生监督信息的收集、核实、汇总和上报；总结、分析全市卫生监督工作，向市卫生局提出卫生监督管理意见和建议。</p>

                        <p>（三）按照职责分工承担卫生行政许可的申请受理、审核、呈批和批准后证件发放的具体工作。</p>

                        <p>（四）承担受理卫生违法行为的投诉、举报及调查处理工作。</p>

                        <p>（五）承担卫生行政处罚案件的调查取证工作，提出处罚建议，执行处罚决定。</p>

                        <p>（六）负责卫生监督员的培训和考核，承担卫生法律法规宣传教育工作。</p>

                        <p>（七）参与突发公共卫生事件的应急处理；协助市卫生局开展食品安全综合协调工作。</p>

                        <p>（八）承担基层医疗卫生机构卫生监督协管服务的组织、协调和管理工作。</p>

                        <p>（九）承办市卫生局和上级卫生监督机构交办的其他任务。</p>

                       

                    </div>

                </div>
            </div>
            <div class="article_list_con_bot"></div>
        </div>
</div>
<div class="clear">&nbsp;</div>