<div id="rightcon">
        

            <div class="article_list_con article_list_con-type2">
                <div class="article_list_title">
                    <span>党工作动态</span>
                    <a class="more_link" href="/gov_window/gov_work"></a>
                </div>
                <div class="article_list_con_body type2">
                    <ul>
                        
                            <li>
                                
                                    <a href="/article/1021/" title="深入开展“两学一做”学习教育----慰问党员庆祝建党95周年">深入开展“两学一做”学习教育----慰问党员庆祝建党95周年</a>
                                    <span>2016-07-01</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/1020/" title="市卫生监督所“一把手”上党课----促党员真学真做">市卫生监督所“一把手”上党课----促党员真学真做</a>
                                    <span>2016-07-01</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/1015/" title="缅怀革命先烈，做四讲四有党员">缅怀革命先烈，做四讲四有党员</a>
                                    <span>2016-06-28</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/997/" title="落实新时期精准扶贫精神 做好挂钩帮扶初步对接">落实新时期精准扶贫精神 做好挂钩帮扶初步对接</a>
                                    <span>2016-05-19</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/979/" title="市卫生监督所召开2015年度党风廉政建设责任制考核会">市卫生监督所召开2015年度党风廉政建设责任制考核会</a>
                                    <span>2016-01-27</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/978/" title="市卫生监督所召开党总支书记抓党建工作述职评议会">市卫生监督所召开党总支书记抓党建工作述职评议会</a>
                                    <span>2016-01-27</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/976/" title="市卫生监督所领导班子召开践行 “三严三实”活动专题民主生活会 ">市卫生监督所领导班子召开践行 “三严三实”活动专题民主生活会 </a>
                                    <span>2016-01-19</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/975/" title="我所第一党支部召开践行“三严三实”专题组织生活会">我所第一党支部召开践行“三严三实”专题组织生活会</a>
                                    <span>2016-01-19</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/959/" title="践行“三严三实” 做好窗口服务工作">践行“三严三实” 做好窗口服务工作</a>
                                    <span>2015-11-18</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/955/" title="九九重阳节，浓浓敬老情">九九重阳节，浓浓敬老情</a>
                                    <span>2015-10-30</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/952/" title="参观廉政教育基地筑牢拒腐防变思想">参观廉政教育基地筑牢拒腐防变思想</a>
                                    <span>2015-10-26</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/949/" title="参观“翰墨香清”惠州市廉政书画展活动">参观“翰墨香清”惠州市廉政书画展活动</a>
                                    <span>2015-10-16</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/941/" title="践行“三严三实” 规范窗口管理">践行“三严三实” 规范窗口管理</a>
                                    <span>2015-09-24</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/935/" title="市卫生监督所党支部“六有”规范化建设取得新成效">市卫生监督所党支部“六有”规范化建设取得新成效</a>
                                    <span>2015-09-15</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/924/" title="落实“党要管党、从严治党”总要求迎接党支部规范化建设考评">落实“党要管党、从严治党”总要求迎接党支部规范化建设考评</a>
                                    <span>2015-08-04</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/915/" title="慰问贫困村党员，送去党组织温暖">慰问贫困村党员，送去党组织温暖</a>
                                    <span>2015-07-28</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/486/" title="市卫生监督所积极开展大星村救灾帮扶工作">市卫生监督所积极开展大星村救灾帮扶工作</a>
                                    <span>2013-09-05</span>
                                
                            </li>
                        
                    </ul>
                </div>
                <div class="article_list_con_bot"></div>
            </div>
        

            <div class="article_list_con article_list_con-type2">
                <div class="article_list_title">
                    <span>党组织机构</span>
                    <a class="more_link" href="/subcategory/?top_ctgy=党建之窗&sub_ctgy=党组织机构"></a>
                </div>
                <div class="article_list_con_body type2">
                    <ul>
                        
                            <li>
                                
                                    <a href="/article/919/" title="中共惠州市卫生监督所总支部委员会组织架构">中共惠州市卫生监督所总支部委员会组织架构</a>
                                    <span>2015-07-28</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/917/" title="中共惠州市卫生监督所总支部委员会所辖支部委员会组织架构">中共惠州市卫生监督所总支部委员会所辖支部委员会组织架构</a>
                                    <span>2015-07-28</span>
                                
                            </li>
                        
                    </ul>
                </div>
                <div class="article_list_con_bot"></div>
            </div>
        

    </div>





<div class="clear">&nbsp;</div>
