description = "通告公示征集"

[viewBag]
==
<div id="rightcon">
        

            <div class="article_list_con article_list_con-type2">
                <div class="article_list_title">
                    <span>曝光台</span>
                    <a class="more_link" href="/notice/lighthouse"></a>
                </div>
                <div class="article_list_con_body type2">
                    <ul>
                        
                            <li>
                                
                                    <a href="/article/988/" title="2016年第一季度卫生行政处罚公告">2016年第一季度卫生行政处罚公告</a>
                                    <span>2016-05-13</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/984/" title="2015年第四季度卫生行政处罚公告">2015年第四季度卫生行政处罚公告</a>
                                    <span>2016-02-04</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/950/" title="2015年第三季度卫生行政处罚公告">2015年第三季度卫生行政处罚公告</a>
                                    <span>2015-10-21</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/918/" title="2015年第二季度卫生行政处罚公告">2015年第二季度卫生行政处罚公告</a>
                                    <span>2015-07-28</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/851/" title="2015年第一季度卫生行政处罚公告">2015年第一季度卫生行政处罚公告</a>
                                    <span>2015-05-11</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/815/" title="2014年第四季度卫生行政处罚公告">2014年第四季度卫生行政处罚公告</a>
                                    <span>2015-03-04</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/801/" title="惠州市卫生和计划生育局2014年度医疗机构不良执业行为记分结果公告">惠州市卫生和计划生育局2014年度医疗机构不良执业行为记分结果公告</a>
                                    <span>2014-12-26</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/780/" title="2014年第三季度卫生行政处罚公告">2014年第三季度卫生行政处罚公告</a>
                                    <span>2014-11-07</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/727/" title="2014年第二季度卫生行政处罚公告">2014年第二季度卫生行政处罚公告</a>
                                    <span>2014-07-31</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/629/" title="2014年第一季度卫生行政处罚公告">2014年第一季度卫生行政处罚公告</a>
                                    <span>2014-05-09</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/526/" title="2013年医疗机构不良执业行为记分一览表">2013年医疗机构不良执业行为记分一览表</a>
                                    <span>2014-01-27</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/525/" title="2013年第四季度卫生行政处罚公告">2013年第四季度卫生行政处罚公告</a>
                                    <span>2014-01-27</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/500/" title="2013年第三季度卫生行政处罚公告">2013年第三季度卫生行政处罚公告</a>
                                    <span>2013-11-11</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/499/" title="2013年第二季度卫生行政处罚公告">2013年第二季度卫生行政处罚公告</a>
                                    <span>2013-11-11</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/444/" title="2013年第一季度卫生行政处罚公告">2013年第一季度卫生行政处罚公告</a>
                                    <span>2013-04-17</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/414/" title="2012年第四季度卫生行政处罚公告">2012年第四季度卫生行政处罚公告</a>
                                    <span>2013-01-30</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/362/" title="2012年第三季度卫生行政处罚公告">2012年第三季度卫生行政处罚公告</a>
                                    <span>2012-10-18</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/352/" title="2012年第二季度卫生行政处罚公告">2012年第二季度卫生行政处罚公告</a>
                                    <span>2012-09-19</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/245/" title="2012年3月取缔过期证诊所统计表">2012年3月取缔过期证诊所统计表</a>
                                    <span>2012-04-06</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/244/" title="2012年2月取缔过期证诊所统计表">2012年2月取缔过期证诊所统计表</a>
                                    <span>2012-04-06</span>
                                
                            </li>
                        
                    </ul>
                </div>
                <div class="article_list_con_bot"></div>
            </div>
        

            <div class="article_list_con article_list_con-type2">
                <div class="article_list_title">
                    <span>公示</span>
                    <a class="more_link" href="/subcategory/?top_ctgy=通告公告&sub_ctgy=公示"></a>
                </div>
                <div class="article_list_con_body type2">
                    <ul>
                        
                            <li>
                                
                                    <a href="/article/1023/" title="2016年6月发证情况">2016年6月发证情况</a>
                                    <span>2016-07-16</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/1009/" title="2016年5月发证情况">2016年5月发证情况</a>
                                    <span>2016-06-16</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/990/" title="2016年4月发证情况">2016年4月发证情况</a>
                                    <span>2016-05-13</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/989/" title="2016年3月发证情况">2016年3月发证情况</a>
                                    <span>2016-05-13</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/986/" title="2016年2月发证情况">2016年2月发证情况</a>
                                    <span>2016-03-10</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/981/" title="2016年1月发证情况">2016年1月发证情况</a>
                                    <span>2016-02-02</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/974/" title="2015年12月发证情况">2015年12月发证情况</a>
                                    <span>2016-01-18</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/971/" title="惠州市卫生监督所2015年公开遴选公务员 拟录用人员名单公示">惠州市卫生监督所2015年公开遴选公务员 拟录用人员名单公示</a>
                                    <span>2015-12-22</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/963/" title="2015年11月份发证情况列表">2015年11月份发证情况列表</a>
                                    <span>2015-12-02</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/960/" title="惠州市卫生监督所2015年公开遴选公务员面试公告">惠州市卫生监督所2015年公开遴选公务员面试公告</a>
                                    <span>2015-11-20</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/956/" title="2015年10月份发证情况列表">2015年10月份发证情况列表</a>
                                    <span>2015-11-17</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/951/" title="医疗机构变更地址受理公示（雷九秋个体中医诊所）">医疗机构变更地址受理公示（雷九秋个体中医诊所）</a>
                                    <span>2015-10-22</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/945/" title="广东省2015年公开遴选公务员公告">广东省2015年公开遴选公务员公告</a>
                                    <span>2015-10-10</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/944/" title="医疗机构变更地址受理公示（杨少花个体诊所）">医疗机构变更地址受理公示（杨少花个体诊所）</a>
                                    <span>2015-10-09</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/943/" title="2015年9月份发证情况列表">2015年9月份发证情况列表</a>
                                    <span>2015-10-08</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/930/" title="2015年8月发证情况列表">2015年8月发证情况列表</a>
                                    <span>2015-09-02</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/923/" title="医疗机构变更地址受理公示（李太荣中医诊所）">医疗机构变更地址受理公示（李太荣中医诊所）</a>
                                    <span>2015-08-04</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/922/" title="2015年7月发证情况列表">2015年7月发证情况列表</a>
                                    <span>2015-08-03</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/914/" title="医疗机构变更地址受理公示（惠州卫生学校门诊部）">医疗机构变更地址受理公示（惠州卫生学校门诊部）</a>
                                    <span>2015-07-13</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/905/" title="医疗机构设置审批受理公示（严明忠申请设置诊所）">医疗机构设置审批受理公示（严明忠申请设置诊所）</a>
                                    <span>2015-07-02</span>
                                
                            </li>
                        
                    </ul>
                </div>
                <div class="article_list_con_bot"></div>
            </div>
        

            <div class="article_list_con article_list_con-type2">
                <div class="article_list_title">
                    <span>调查征集</span>
                    <a class="more_link" href="/subcategory/?top_ctgy=通告公告&sub_ctgy=调查征集"></a>
                </div>
                <div class="article_list_con_body type2">
                    <ul>
                        
                            <li>
                                
                                    <a href="/article/973/" title="关于对集中消毒餐饮具卫生监督管理 公开征求意见和建议的公告">关于对集中消毒餐饮具卫生监督管理 公开征求意见和建议的公告</a>
                                    <span>2015-12-24</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/972/" title="关于对集中式供水单位卫生的监督管理公开征求意见和建议的公告">关于对集中式供水单位卫生的监督管理公开征求意见和建议的公告</a>
                                    <span>2015-12-24</span>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/article/934/" title="关于对游泳场馆卫生的监督管理公开征求意见和建议的公告">关于对游泳场馆卫生的监督管理公开征求意见和建议的公告</a>
                                    <span>2015-09-14</span>
                                
                            </li>
                        
                    </ul>
                </div>
                <div class="article_list_con_bot"></div>
            </div>
        

    </div>





<div class="clear">&nbsp;</div>