 <div id="rightcon">
        <div class="article_list_con">
            <div class="article_list_title"><span>群众留言列表</span></div>
            <div class="article_list_con_body">
                <ul>
                    
                        <li>
                            <a href="/message/734/">
                                
                                    惠州大亚湾惠亚医院医护人员消极怠工、推诿扯皮、糊乱收费<label class="close_msg">  ✓</label>
                                    <label class="reply_notice">（已于  <span class="red1">2016-07-19</span>   答复）</label>

                                
                            </a>

                            <span>2016-07-17</span>
                        </li>
                    
                        <li>
                            <a href="/message/733/">
                                
                                    投诉惠州市中心人民医院的医护人员不负责任，接待电话时态度特别恶劣<label class="close_msg">  ✓</label>
                                    <label class="reply_notice">（已于  <span class="red1">2016-06-21</span>   答复）</label>

                                
                            </a>

                            <span>2016-06-13</span>
                        </li>
                    
                        <li>
                            <a href="/message/732/">
                                
                                    仲恺剑桥门诊部骗人骗钱<label class="close_msg">  ✓</label>
                                    <label class="reply_notice">（已于  <span class="red1">2016-05-03</span>   答复）</label>

                                
                            </a>

                            <span>2016-05-01</span>
                        </li>
                    
                        <li>
                            <a href="/message/731/">
                                
                                    花边岭东江泌尿男科医院乱收费，医生没良心<label class="close_msg">  ✓</label>
                                    <label class="reply_notice">（已于  <span class="red1">2016-05-03</span>   答复）</label>

                                
                            </a>

                            <span>2016-04-24</span>
                        </li>
                    
                        <li>
                            <a href="/message/730/">
                                
                                    东江男科医院夸大病情，收费不明确，乱收费。坑钱<label class="close_msg">  ✓</label>
                                    <label class="reply_notice">（已于  <span class="red1">2016-05-03</span>   答复）</label>

                                
                            </a>

                            <span>2016-04-24</span>
                        </li>
                    
                        <li>
                            <a href="/message/729/">
                                
                                    东江泌尿男科医院 存在对病情夸大其谈乱收费现象<label class="close_msg">  ✓</label>
                                    <label class="reply_notice">（已于  <span class="red1">2016-04-01</span>   答复）</label>

                                
                            </a>

                            <span>2016-03-25</span>
                        </li>
                    
                        <li>
                            <a href="/message/728/">
                                
                                    投诉陈江澄海市场非法牙医<label class="close_msg">  ✓</label>
                                    <label class="reply_notice">（已于  <span class="red1">2016-02-19</span>   答复）</label>

                                
                            </a>

                            <span>2016-02-18</span>
                        </li>
                    
                        <li>
                            <a href="/message/727/">
                                
                                    举报惠阳三和太阳城市场黑牙科门诊<label class="close_msg">  ✓</label>
                                    <label class="reply_notice">（已于  <span class="red1">2016-02-19</span>   答复）</label>

                                
                            </a>

                            <span>2016-02-18</span>
                        </li>
                    
                        <li>
                            <a href="/message/726/">
                                
                                    惠州同济泌尿外科门诊部天价手术费<label class="close_msg">  ✓</label>
                                    <label class="reply_notice">（已于  <span class="red1">2015-12-03</span>   答复）</label>

                                
                            </a>

                            <span>2015-11-28</span>
                        </li>
                    
                        <li>
                            <a href="/message/724/">
                                
                                    卫计所不作为<label class="close_msg">  ✓</label>
                                    <label class="reply_notice">（已于  <span class="red1">2015-10-30</span>   答复）</label>

                                
                            </a>

                            <span>2015-10-28</span>
                        </li>
                    
                        <li>
                            <a href="/message/722/">
                                
                                    对你们太失望了<label class="close_msg">  ✓</label>
                                    <label class="reply_notice">（已于  <span class="red1">2015-10-28</span>   答复）</label>

                                
                            </a>

                            <span>2015-10-24</span>
                        </li>
                    
                        <li>
                            <a href="/message/720/">
                                
                                    投诉严春英<label class="close_msg">  ✓</label>
                                    <label class="reply_notice">（已于  <span class="red1">2015-10-19</span>   答复）</label>

                                
                            </a>

                            <span>2015-10-14</span>
                        </li>
                    
                        <li>
                            <a href="/message/718/">
                                
                                    金宝创业佳园二楼开食堂<label class="close_msg">  ✓</label>
                                    <label class="reply_notice">（已于  <span class="red1">2015-10-10</span>   答复）</label>

                                
                            </a>

                            <span>2015-10-09</span>
                        </li>
                    
                        <li>
                            <a href="/message/717/">
                                
                                    非法眼科<label class="close_msg">  ✓</label>
                                    <label class="reply_notice">（已于  <span class="red1">2015-10-16</span>   答复）</label>

                                
                            </a>

                            <span>2015-10-06</span>
                        </li>
                    
                        <li>
                            <a href="/message/716/">
                                
                                    港汇烧鹅快餐店<label class="close_msg">  ✓</label>
                                    <label class="reply_notice">（已于  <span class="red1">2015-09-22</span>   答复）</label>

                                
                            </a>

                            <span>2015-09-22</span>
                        </li>
                    
                        <li>
                            <a href="/message/715/">
                                
                                    举报不正规体检<label class="close_msg">  ✓</label>
                                    <label class="reply_notice">（已于  <span class="red1">2015-09-18</span>   答复）</label>

                                
                            </a>

                            <span>2015-09-17</span>
                        </li>
                    
                        <li>
                            <a href="/message/714/">
                                
                                    河南小食店<label class="close_msg">  ✓</label>
                                    <label class="reply_notice">（已于  <span class="red1">2015-09-17</span>   答复）</label>

                                
                            </a>

                            <span>2015-09-16</span>
                        </li>
                    
                        <li>
                            <a href="/message/713/">
                                
                                    非法体检<label class="close_msg">  ✓</label>
                                    <label class="reply_notice">（已于  <span class="red1">2015-09-17</span>   答复）</label>

                                
                            </a>

                            <span>2015-09-11</span>
                        </li>
                    
                        <li>
                            <a href="/message/711/">
                                
                                    举报仲恺无良妇科诊所诈骗医疗<label class="close_msg">  ✓</label>
                                    <label class="reply_notice">（已于  <span class="red1">2015-09-10</span>   答复）</label>

                                
                            </a>

                            <span>2015-09-09</span>
                        </li>
                    
                        <li>
                            <a href="/message/710/">
                                
                                    小区游泳池问题<label class="close_msg">  ✓</label>
                                    <label class="reply_notice">（已于  <span class="red1">2015-09-15</span>   答复）</label>

                                
                            </a>

                            <span>2015-09-07</span>
                        </li>
                    
                </ul>

            </div>
            <div id="pagination">
                <div class="manu">
                    
                        <span class="disabled"> &lt;  上一页</span>
                    


                    
                        
                            <span class="current">1</span>
                        
                    
                        
                            <a href="?&page=2"
                               title="第2页">2</a>
                        
                    


                    
                        <a href="?&page=2">
                            下一页&gt;
                        </a>
                    
                </div>
            </div>
            <div class="article_list_con_bot"></div>
        </div>

    </div>






<div class="clear">&nbsp;</div>