<div id="rightcon">
            <div class="article_list_con">
                <div class="article_list_title"><span>发表留言</span></div>
                <div class="article_list_con_body">
                    <div class="message">
                        <form name="message_form" method="post" action="/post_message/" onSubmit="return checkForm()"><div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='3rtKd0GnPFfs45ZItQdAs24gqJeZUmKv' /></div>
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <p>
                            <h3>发表留言须知</h3>
                            </p>
                            <p>1.投诉举报人进行投诉举报，应当遵守国家法律、法规及其他有关规定。投诉举报对象明确，内容真实、客观、清楚，不得歪曲或捏造事实。
                            </p>
                            <p>
                              2.为了便于受理部门与您联系、沟通，请您如实填写中文姓名、有效联系电话和电子邮件等资料，对于填写信息模糊、且未留下联系方式的来件，我们将不予受理。
                            </p>
                            <p>
                              3.为了给大家提供更及时的服务，卫生咨询、投诉举报可以直接拨打12320。
                            </p>
                             <p>
                             </p>
                             <table>

                            
                               <tr><td class="caption">留言标题(必填)：</td><td class="content"><input id="id_subject" type="text" name="subject" /></td></tr>
                                <tr><td class="caption">用户姓名(必填，只显示姓)：</td><td class="content"><input id="id_sender" type="text" name="sender"   /></td></tr>
                                <tr><td class="caption">联系电话(必填, 保密)：</td><td class="content"><input id="id_phone" type="text" name="phone"   /></td></tr>
                                <tr><td class="caption">电子邮件(必填, 保密)：</td><td class="content"><input id="id_email" type="text" name="email"  /></td></tr>
                                <tr><td class="caption">联系地址(必填, 保密)：</td><td class="content"><input  id="id_address" type="text" name="address" /></td></tr>
                                <tr class="content-body"><td class="caption">留言内容(必填)：</td><td class="content"><textarea id="id_content" name="content" ></textarea></td></tr>

                            
                                <tr class="phone-verify"><td class="caption">手机验证码(必填)：</td><td class="content"><input id="id_verifyCode" type="text" name="verifyCode" /><input id="verifybutton" class="btn-verify" type="button" value='发送验证码'></td></tr>
                            </table>
                            

                            <div class="message-form-bottom"><input type="submit" name="submit" value="提交" /> <input type="reset" name="reset" value="重置" /></div>
                        </form>


                        <script type="text/javascript">
                            var button = document.getElementById('verifybutton');
                            var verifyCode = document.getElementById('id_verifyCode');
                            var phone = document.getElementById('id_phone');
                            var count = 0;

                            button.onclick = sendCode;

                            function sendCode() {
                                if (!(/^1[3|4|5|7|8][0-9]\d{8}$/.test(phone.value))) {
                                    alert("请填写有效的手机号: " + phone.value) && phone.focus();
                                    return;
                                }

                                $.ajax({
                                    url: "/verification_code/",
                                    async: true,
                                    type: "POST",
                                    headers: {
                                    },
                                    data: {phone: phone.value},
                                    error: function (xhr) {
                                        alert("发送验证码失败");
                                    },
                                    timeout: 60000
                                });

                                count = 60;
                                clock();
                            }

                            function clock() {
                                (count == 60) && (button.disabled = true);
                                if (count > 0) {
                                    button.value = "已发送" + count;
                                    count--;
                                } else {
                                    button.value = "发送验证码";
                                    button.disabled = false;
                                    return;
                                }
                                setTimeout(clock, 1000);
                            }
                        </script>

                    </div>
                </div>

                <div class="article_list_con_bot"></div>
            </div>
		</div>






<div class="clear">&nbsp;</div>