<div class="content-section" id="contact">
    <div class="container">

        <div class="row">
            <div class="heading-section col-md-12 text-center">
                <h2>Contact Us</h2>
                <p>Feel free to send a message</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
               <div class="googlemap-wrapper">
                    <div id="map_canvas" class="map-canvas"></div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-7 col-sm-6">
                <p>
                    <a rel="nofollow" href="http://www.templatemo.com/free-website-templates/406-flex" target="_parent">Flex</a> is free responsive HTML5 template by <span class="blue">template</span><span class="green">mo</span> that can be used for any commercial or personal website. Slider images and portfolio images are from <a rel="nofollow" href="http://unsplash.com">Unsplash</a> website. Duis ullamcorper tortor tellus. Ut diam libero, ultricies non augue a, mollis congue risus. Fusce a quam eget nisi luctus imperdiet. Aenean semper erat neque. Nunc et scelerisque nunc, in adipiscing magna. Phasellus in erat non tellus molestie sagittis sed a justo. Nam vehicula volutpat nibh, in posuere dolor dictum sit amet.
                    <br><br>
                    Consectetur quod at aperiam corporis totam. Nesciunt minima laborum sapiente totam facere unde est cum quia. Hic, suscipit, praesentium earum quod ea distinctio impedit ullam deserunt minus dolore quibusdam quis saepe aliquam doloribus voluptatibus eum excepturi.
                </p>
                <ul class="contact-info">
                    <li>Phone: 010-080-0180</li>
                    <li>Email: <a href="mailto:info@company.com">info@company.com</a></li>
                    <li>Address: 123 Premium Studio, Thamine Street, Digital Estate</li>
                </ul>
                <br><br>
            </div>

            <div class="col-md-5 col-sm-6">
                <div class="contact-form">
                    <form method="post" name="contactform" id="contactform">
                        <p>
                            <input name="name" type="text" id="name" placeholder="Your Name">
                        </p>
                        <p>
                            <input name="email" type="text" id="email" placeholder="Your Email">
                        </p>
                        <p>
                            <input name="subject" type="text" id="subject" placeholder="Subject">
                        </p>
                        <p>
                            <textarea name="comments" id="comments" placeholder="Message"></textarea>
                        </p>
                        <input type="submit" class="mainBtn" id="submit" value="Send Message">
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>