==
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12 text-left">
                <span>2012 wsjds.huizhou.gov.cn All Rights Reserved 技术支持及意见：<a rel="nofollow" href="http://www.templatemo.com/free-website-templates/406-flex" target="_parent">support@everants.com</a></span>
            </div>
            <div class="col-md-4 hidden-xs text-right">
                <a href="#top" id="go-top">返回顶部</a>
            </div>
        </div>
    </div>
</div>