<div class="site-header">

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="social-icons">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-dribbble"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main-header">
        <div class="container">
            <div id="menu-wrapper">
                <div class="row">
                    <div class="logo-wrapper col-md-4 col-sm-2 col-xs-8">
                        <h1>
                            <a href="#">Flex</a>
                        </h1>
                    </div>
                    <div class="col-md-8 col-sm-10 col-xs-4 main-menu text-right">
                        <ul class="menu-first hidden-sm hidden-xs">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#portfolio">Portfolio</a></li>
                            <li><a href="#our-team">Team</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                        <a href="#" class="toggle-menu visible-sm visible-xs"><i class="fa fa-bars"></i></a>
                    </div>
                </div>
            </div>
            <div class="menu-responsive hidden-md hidden-lg">
                <ul>
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#our-team">Team</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>