description = "内设机构"

[viewBag]
==
<div id="rightcon">
        <div class="article_list_con article_list_con-type2">
            <div class="article_list_title"><span>内设机构</span></div>
            <div class="article_list_con_body type3">
                <div class="article_con">



                    <div class="keshi_con">
                        <table width="642" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <p>

                                    <span style="font-weight:bold; font-size: 17px;">
                                    --&gt;&nbsp;&nbsp;办公室
                                    </span></p>
                                <p>&nbsp;</p>

                            </tr>
                            <tr>
                                <p><span style="font-weight:bold">电话</span>：2833122</p>
                                <p><span style="font-weight:bold">传真</span>：2833121</p>
                                <p><span ><span style="font-weight:bold"> 职责</span>
                                    ：负责拟定工作计划和总结；综合协调所内政务、事务、文秘档案、新闻宣传等工作；负责全所机要保密工作；负责办公设备、办公用品的采购、管理；负责人事、党务、对外交流、工青妇和计划生育工作；负责所内车辆调配及管理、安全保卫等后勤服务工作；负责所内信息系统及硬件、网络设备的建设和运维管理。</span></p>
                            </tr>
                        </table>
                    </div>

                    <div class="keshi_con">
                        <table width="642" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <p>

                                    <span style="font-weight:bold; font-size: 15px;">
                                    --&gt;&nbsp;&nbsp;财务科
                                    </span></p>
                                <p>&nbsp;</p>
                            </tr>
                            <tr>
                                <p><span style="font-weight:bold">电话</span>：2873099</p>
                                <p><span ><span style="font-weight:bold"> 职责</span>
                                    ：负责财务管理、年度预算、决算及上报各项财务、税务报表；负责固定资产管理。</span></p>
                            </tr>
                        </table>
                    </div>

                    <div class="keshi_con">
                        <table width="642" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <p>

                                    <span style="font-weight:bold; font-size: 15px;">
                                    --&gt;&nbsp;&nbsp;法制稽查科
                                    </span></p>
                                <p>&nbsp;</p>
                            </tr>
                            <tr>
                                <p><span style="font-weight:bold">电话</span>：2833120</p>
                                <p><span style="font-weight:bold">传真</span>：2833120</p>
                                <p><span ><span style="font-weight:bold"> 职责</span>
                                    ：负责有关卫生监督执法法制建设，指导、规范卫生执法行为；负责受理卫生违法行为的投诉、举报，并查处重大卫生违法案件；组织开展卫生监督执法稽查；负责卫生监督员业务培训与行政执法资格管理；负责对卫生监督不良信息的监测、分析；负责全市基层医疗卫生机构卫生监督协管服务的组织、协调和管理；组织卫生监督法律、法规的宣贯、培训工作；负责全市卫生监督业务信息报告、业务总结及各类业务报表上报工作的组织、协调和管理；负责行政处罚案件合议和行政执法文书、案卷的审核、评查工作；参与市卫生局的案件移送、行政处罚听证和行政应诉工作；协助市卫生局开展食品安全综合协调工作。</span></p>
                            </tr>
                        </table>
                    </div>


                    <div class="keshi_con">
                        <table width="642" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <p>

                                    <span style="font-weight:bold; font-size: 15px;">
                                    --&gt;&nbsp;&nbsp;受理发证科
                                    </span></p>
                                <p>&nbsp;</p>
                            </tr>
                            <tr>
                                <p><span style="font-weight:bold">电话</span>：2898731</p>
                                <p><span style="font-weight:bold">传真</span>：2898744</p>
                                <p><span ><span style="font-weight:bold"> 职责</span>
                                    ：负责市卫生局卫生行政审批项目（含新办、换证、延续、变更、校验）的申请受理、资料审核、呈批和批准后的证件发放工作；规范全市卫生许可受理、资料审核及办证工作程序，做好全所、全市卫生许可信息数据的统计及相关报表的报送工作，与有关业务科室协调制定并公布卫生许可证发放程序；参与惠州市卫生局网上办事大厅建设和管理工作。</span></p>
                            </tr>
                        </table>
                    </div>

                    <div class="keshi_con">
                        <table width="642" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <p>

                                    <span style="font-weight:bold; font-size: 15px;">
                                    --&gt;&nbsp;&nbsp;公共卫生监督科
                                    </span></p>
                                <p>&nbsp;</p>
                            </tr>
                            <tr>
                                <p><span style="font-weight:bold">电话</span>：2873081</p>
                                <p><span ><span style="font-weight:bold"> 职责</span>
                                    ：负责全市公共场所、生活饮用水卫生监督计划的拟订并组织实施，负责相关业务报表的统计、上报和相关工作的总结报告工作；按照职责分工对公共场所、生活饮用水供水单位和涉及饮用水卫生安全产品生产企业进行卫生监督管理，查处违法违规行为和群众投诉举报案件；参与相关公共卫生事件的调查处理；开展有关法律法规的宣传、培训工作。</span></p>
                            </tr>
                        </table>
                    </div>



                    <div class="keshi_con">
                        <table width="642" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <p>

                                    <span style="font-weight:bold; font-size: 15px;">
                                    --&gt;&nbsp;&nbsp;医疗机构与放射卫生监督科
                                    </span></p>
                                <p>&nbsp;</p>
                            </tr>
                            <tr>
                                <p><span style="font-weight:bold">电话</span>：2873085</p>
                                <p><span ><span style="font-weight:bold"> 职责</span>
                                    ：负责拟订全市医疗、采供血、放射卫生和职业卫生技术服务机构的卫生监督检查计划并组织实施；负责相关业务报表的统计、上报和相关工作的总结报告工作；按照职责分工负责对市卫生局所属的医疗卫生机构进行监督管理，对采供血机构、医疗机构临床用血、放射诊疗机构、职业健康检查机构、职业病诊断机构和化学品毒性鉴定机构进行监督检查；参与相关公共卫生事件的调查处理，查处有关违法行为和群众投诉举报案件；开展有关法律法规的宣传、培训工作；参与市卫生局医疗机构设置和执业许可的相关审查工作；负责市卫生局交付的医疗管理工作的组织实施。</span></p>
                            </tr>
                        </table>
                    </div>




                    <div class="keshi_con">
                        <table width="642" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <p>

                                    <span style="font-weight:bold; font-size: 15px;">
                                    --&gt;&nbsp;&nbsp;学校卫生与传染病防治监督科
                                    </span></p>
                                <p>&nbsp;</p>
                            </tr>
                            <tr>
                                <p><span style="font-weight:bold">电话</span>：2873599</p>
                                <p><span ><span style="font-weight:bold"> 职责</span>
                                    ：按职责分工拟订全市传染病防治、学校卫生和消毒产品生产单位的卫生监督计划并组织实施，负责相关业务报表的统计、上报和相关工作的总结报告工作；指导全市开展传染病防治和学校内公共卫生、饮水卫生、医疗保健和传染病防控的卫生监督管理；按职责分工对传染病防治、学校卫生、餐饮具集中消毒单位和消毒产品生产单位进行卫生监督管理；查处有关违法行为和群众投诉举报案件；参与相关公共卫生事件的调查处理；开展有关法律法规的宣传、培训工作。</span></p>
                            </tr>
                        </table>
                    </div>


                    <div class="keshi_con">
                        <table width="642" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <p>

                                    <span style="font-weight:bold; font-size: 15px;">
                                    --&gt;&nbsp;&nbsp;基层卫生监督一科、二科
                                    </span></p>
                                <p>&nbsp;</p>
                            </tr>
                            <tr>
                                <p><span style="font-weight:bold">一科电话</span>：2873095</p>
                                <p><span style="font-weight:bold">二科电话</span>：2873091</p>
                                <p><span ><span style="font-weight:bold"> 职责</span>
                                    ：按职责分工，负责辖区内公共场所、生活饮用水、学校、医疗、放射诊疗、传染病防治等方面的卫生监督执法工作，对辖区内各类违反卫生法律法规行为、群众投诉举报案件和相关公共卫生事件进行调查处理；负责本辖区卫生监督信息、工作总结及各类业务报表的上报工作；组织开展辖区内卫生法律法规宣传、培训工作。</span></p>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            <div class="article_list_title" style="background:white none;width:698px;border-left:1px solid #ccc;border-right:1px solid #ccc;"><span>派出机构</span></div>
            <div class="article_list_con_body type3">
                <div class="article_con">
                    <div class="keshi_con">
                        <table width="642" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <p> <span style="font-weight:bold; font-size: 15px;">
                                    市卫生监督所水口分所
                                    </span></p>
                                <p>&nbsp;电话：2323800；传真：2323800</p>
                                <br>
                            </tr>
                            <tr>
                                <p> <span style="font-weight:bold; font-size: 15px;">
                                    市卫生监督所小金口分所
                                    </span></p>
                                <p>&nbsp;电话：2299108；传真：2299108</p>
                                <br>
                            </tr>
                            <tr>
                                <p> <span style="font-weight:bold; font-size: 15px;">
                                    市卫生监督所仲恺分所
                                    </span></p>
                                <p>&nbsp;电话：3228199；传真：3228199</p>
                                <br>
                            </tr>
                            <tr>
                                <p> <span style="font-weight:bold; font-size: 15px;">
                                    市卫生监督所大亚湾分所
                                    </span></p>
                                <p>&nbsp;电话：5562170；传真：5562170</p>
                                <br>
                            </tr>
                            <tr>
                                <p><span ><span style="font-weight:bold"> 职责</span>
                                    ：按职责分工和辖区卫生行政部门委托，负责辖区内公共场所、生活饮用水、学校、医疗、放射诊疗、传染病防治等方面的卫生行政许可和卫生监督执法工作，对辖区内各类违反卫生法律法规行为和突发公共卫生事件进行调查处理；负责本辖区卫生监督信息、工作总结及各类业务报表的上报工作；组织开展辖区内卫生法律法规宣传、培训工作；承担市卫生局、市卫生监督所及辖区卫生行政部门交付的其他任务。</span>
                                </p>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="article_list_con_bot"></div>
        </div>
    </div>
<div class="clear">&nbsp;</div>